body {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

table {
    border-collapse: collapse;


}

th,
td {
    border: 2px solid #000000;
    text-align: left;
}

td {
    padding: 0;
    margin: 0 auto;
}

div {
    background-color: tomato;
}

p {
    background-color: rgb(67, 223, 127);

}

div,
p {
    margin: 0;
    padding: 0;
    border: 0px;
}

.tab {
    max-width: 60%;

}

b {
    max-width: 60%;
}

span {
    background-color: tomato;
    font-size: xx-large;
    text-align: center;
    display: flex;
    justify-content: center;

}